h1,
h2,
h3,
li,
p,
span {
  font-family: 'Roboto', sans-serif;
}

p,
li {
  font-size: 16px;
}

h1, h2, h3 {
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: auto;
  margin: 0;
  background-color: #ffffff;
  position: relative;
}

#main-wrapper {
  width: 100%;
  margin: auto;
}

.search__container__btn {
  position: relative;
  max-width: 226px;
  z-index: 1;
  border-radius: 50px/50px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
          box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
  font-size: 1rem;
}

.search__container__btn::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  content: "";
  background: -webkit-gradient(linear, left top, right bottom, from(#fface8), to(#ae80e5));
  background: linear-gradient(to bottom right, #fface8, #ae80e5);
  -webkit-box-shadow: 0.27em 0.55em 0.55em #afafaf;
          box-shadow: 0.27em 0.55em 0.55em #afafaf;
  border-radius: 50px/50px;
  opacity: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.search__container__btn:hover::after {
  opacity: 1;
}

.submit--hidden {
  display: none;
}

.submit--hidden + label::before {
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-weight: 200;
  font-size: 1.5em;
}

.submit--hidden:checked + label::before {
  font-family: "Font Awesome 5 free";
  content: "\f004";
  font-weight: 900;
  color: transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-delay: 10ms;
          transition-delay: 10ms;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 100%;
  border-bottom: 2px inset #d5d5d5;
}

@media screen and (min-width: 801px) {
  .main-header {
    height: 120px;
  }
}

.main-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 42.5%;
  max-height: 45%;
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .main-header__logo {
    width: 42%;
    max-width: 44%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media screen and (min-width: 801px) {
  .main-header__logo {
    width: 30%;
    max-width: 32%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.main-header_arrow {
  position: absolute;
  left: 5.33%;
  font-size: 1rem;
  color: #353535;
  font-size: 1rem;
}

.main-footer {
  padding-left: 4%;
  padding-right: 4%;
  background-color: #353535;
  height: 200px;
}

.main-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 95%;
}

.main-footer__container__title {
  color: #ffffff;
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
}

.main-footer__container__list {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50%;
  width: 100%;
}

.main-footer__container__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main-footer__container__list__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
}

.main-footer__container__list__item a .main-footer__container__list__item__logo-container {
  margin-right: 15px;
  width: 15px;
}

.main-footer__container__list__item a .main-footer__container__list__item__logo-container .fa-hands-helping {
  font-size: 0.75rem;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  height: 335px;
  width: 100%;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15%;
  width: 100%;
  background-color: #efefef;
}

.search__form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 100%;
}

.search__form__container__logo {
  margin-right: 15px;
  width: 15px;
  font-size: 1rem;
}

.search__form__container__input {
  border: none;
  max-width: 140px;
  height: 50px;
  background-color: #efefef;
}

.search__form__container__input::-webkit-input-placeholder {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: inherit;
}

.search__form__container__input:-ms-input-placeholder {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: inherit;
}

.search__form__container__input::-ms-input-placeholder {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: inherit;
}

.search__form__container__input::placeholder {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: inherit;
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .search__form__container__input {
    width: auto;
  }
}

@media screen and (min-width: 801px) {
  .search__form__container__input {
    width: auto;
  }
}

.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 70%;
}

.search__container h1,
.search__container p {
  text-align: center;
}

.search__container h1 {
  margin-bottom: 0;
}

.operation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  height: 440px;
  padding-left: 4%;
  padding-right: 4%;
}

.operation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 80%;
}

.operation__container h2 {
  margin-top: 0;
}

.operation__container ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  width: 100%;
  margin: 0;
  font-weight: bold;
  padding-left: 2%;
}

@media screen and (min-width: 801px) {
  .operation__container ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.operation__container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28%;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 25px;
  cursor: default;
  -webkit-box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
          box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
  -webkit-transition: 400ms;
  transition: 400ms;
  position: relative;
  z-index: 1;
  cursor: default;
  box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
}

@media screen and (min-width: 801px) {
  .operation__container ul li {
    width: 30%;
  }
}

.operation__container ul li ::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #f5edff;
  border-radius: 25px;
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

.operation__container ul li:hover ::after {
  opacity: 1;
}

.operation__container ul li:hover .fas {
  color: #9356DC;
}

.operation__container ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  padding: 0.25rem;
  z-index: 1;
}

.operation__container ul li span::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #9356DC;
  z-index: -1;
  opacity: 0;
}

.operation__container ul li div {
  margin: 0 10% 0 10%;
}

.operation__container ul li div .fas {
  -webkit-transition: color 400ms;
  transition: color 400ms;
  font-size: 1.2em;
}

.restaurants {
  background-color: #f6f6f6;
  padding-left: 4%;
  padding-right: 4%;
  width: 100%;
  height: 1225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .restaurants {
    height: 800px;
  }
}

@media screen and (min-width: 801px) {
  .restaurants {
    height: 900px;
  }
}

.restaurants__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 92%;
  width: 100%;
}

.restaurants__container__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95%;
  width: 100%;
}

.restaurants__container__checkbox .checkbox__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .restaurants__container__checkbox .checkbox__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 801px) {
  .restaurants__container__checkbox .checkbox__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 90%;
  }
}

.link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 23%;
  -webkit-box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
          box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .link-container {
    width: 45%;
    height: 45%;
  }
}

@media screen and (min-width: 801px) {
  .link-container {
    width: 45%;
    height: 45%;
  }
}

.link-container__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000000;
}

.link-container__card__pic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70%;
  position: relative;
}

.link-container__card__pic-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.link-container__card__pic-container__new {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 3.54%;
  top: 8.6%;
  width: 80px;
  padding: 0.25rem;
  border-radius: 3px;
  color: #299077;
  background-color: #99E2D0;
}

.link-container__card__info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30%;
  padding-left: 4%;
  padding-right: 4%;
}

.link-container__card__info-container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 95%;
  width: 60%;
}

.link-container__card__info-container__title h3,
.link-container__card__info-container__title p {
  margin: 0.2rem;
}

.link-container__input {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 10%;
  right: 5%;
  width: 50px;
}

.loading {
  background: #f5edff;
  opacity: 1;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: inline-block;
  position: fixed;
  inset: 0;
  text-align: center;
  -webkit-animation: opacity 500ms 2500ms both;
          animation: opacity 500ms 2500ms both;
}

.loading-title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 20%;
  width: 100%;
}

.loading-title--gradient {
  -webkit-animation: title 1000ms ease-in-out infinite alternate forwards;
          animation: title 1000ms ease-in-out infinite alternate forwards;
  -webkit-transform-origin: left;
          transform-origin: left;
  font-family: 'Shrikhand', cursive;
  opacity: 0;
  font-size: 3.4em;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 20%;
}

.loading-title--gradient--1 {
  -webkit-animation-delay: 333.33333ms;
          animation-delay: 333.33333ms;
}

.loading-title--gradient--2 {
  -webkit-animation-delay: 666.66667ms;
          animation-delay: 666.66667ms;
}

.loading-title--gradient--3 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.loading-title--gradient--1 {
  background: linear-gradient(100deg, #99E2D0, 30%, #9356DC, 60%, #FF79DA 90%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loading-title--gradient--2 {
  background: -webkit-gradient(linear, left top, right top, from(#9356DC), color-stop(30%), color-stop(#99E2D0), color-stop(60%), to(#FF79DA));
  background: linear-gradient(90deg, #9356DC, 30%, #99E2D0, 60%, #FF79DA 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loading-title--gradient--3 {
  background: linear-gradient(70deg, #9356DC, 30%, #FF79DA, 60%, #99E2D0 90%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes title {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes title {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ball1 {
  background-color: #9356DC;
  margin-right: 2%;
  -webkit-animation: travel 800ms 0ms cubic-bezier(0.32, 1.16, 0.6, 0.5);
          animation: travel 800ms 0ms cubic-bezier(0.32, 1.16, 0.6, 0.5);
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

.ball2 {
  background-color: #FF79DA;
  margin-right: 2%;
  -webkit-animation: travel 800ms 500ms cubic-bezier(0.32, 1.16, 0.6, 0.5);
          animation: travel 800ms 500ms cubic-bezier(0.32, 1.16, 0.6, 0.5);
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

.ball3 {
  background-color: #99E2D0;
  -webkit-animation: travel 800ms 1000ms cubic-bezier(0.32, 1.16, 0.6, 0.5);
          animation: travel 800ms 1000ms cubic-bezier(0.32, 1.16, 0.6, 0.5);
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

.ball1,
.ball2,
.ball3 {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  top: 50%;
}

@-webkit-keyframes travel {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  11% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  24% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  28% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  47% {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  60% {
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
  }
  100% {
    -webkit-transform: translateY(0) scaleX(1.15);
            transform: translateY(0) scaleX(1.15);
    z-index: -1000;
  }
}

@keyframes travel {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  11% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  24% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  28% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  47% {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  60% {
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
  }
  100% {
    -webkit-transform: translateY(0) scaleX(1.15);
            transform: translateY(0) scaleX(1.15);
    z-index: -1000;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}
/*# sourceMappingURL=main.css.map */