//utils
//variables
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-quaternary: #d5d5d5;
$color-fifth:#f6f6f6;
$color-sixth: #f5edff;
$color-seventh: #ffffff;
$shadow-size-x: .27em;
$shadow-size-y: .55em;


//maps
$breakpoints:(min-tab: 501px,
    max-tab: 800px,
    min-desk: 801px);

$bg-color-section: (
    search: $color-fifth,
    operation: $color-seventh,
    restaurants:$color-fifth
);
    
//functions
@function padding($nb) {
    $padding: $nb * 0.25;
    @return $padding;
}

//mixins

@mixin light-color ($color: $color-quaternary) {
    background-color: lighten($color, 10%);
}

@mixin btn {
    border-radius: 50px/50px;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    font-size: 0.80em;
    font-family: 'Roboto', sans-serif;
    color: $color-seventh;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: padding(1) + rem;
    cursor: pointer;
    @include box-shadow ;
}

@mixin box-shadow($color:$color-quaternary, $size-x:$shadow-size-x, $size-y:$shadow-size-y) {

    box-shadow: $size-x $size-y $size-y $color;
}

@mixin padding {
    padding-left: 4%;
    padding-right: 4%;

}

@mixin circle {
    border-radius: 100%;
    background-color: $color-primary;
    width: 7.25%;
    height: 25px;
    margin-left: -3.625%;
    margin-right: 5%;
    text-align: center;
    color: $color-seventh;
}

@mixin list-style {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 92%;
    width: 100%;
}
@mixin li-list-style {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 28%;
    width: 100%;
    background-color: $color-fifth;
    border-radius: 25px;
    cursor: default;
    @include box-shadow;                                    
    
}
//media queries
@mixin tablette-only {
    @media screen and (min-width: map-get($map: breakpoints, $key: min-tab)) and (max-width: map-get($map: breakpoints, $key: max-tab)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($map: breakpoints, $key:min-desk)) {
        @content;
    }
}

//base
h1,
h2,
h3,
p,
li {
    //font-family: 'Shrikhand', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1 {
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

body {
    width: auto;
    margin: 0;
    background-color: $color-seventh;
}

#main-wrapper {
    width: 100%;
    margin: auto;
}

//components
.search__container__btn {
    //margin-top: 7%;
    width: 57.3%;
    @include btn;

}

//layout
//header
.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    border-bottom: 2px inset $color-quaternary;

    &__logo {
        display: flex;
        width: 42.5%;
        max-height: 45%;
    }

}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: map-get($bg-color-section, search);
    height: 335px;

    &__form {
        display: flex;
        justify-content: center;
        height: 15%;
        width: 100%;

        &__container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            @include light-color;
            height: 100%;

            &__logo {
                margin-right: 15px;
            }

            .search__form__container__input {
                border: none;
                width: 33%;
                height: 40%;
                @include light-color;
            }

            .search__form__container__submit--hidden {
                display: none;
            }
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 60%;
        margin-top: 7%;//

        h1,
        p {
            text-align: center;
        }

    }
}

//footer

//pages
.operation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($map: $bg-color-section, $key: operation );
    height: 400px;
    @include padding;

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80%;

        ul {
            @include list-style;
            padding: 0 0 0 3.625%;
            

            li {
                @include li-list-style;
                transition: background-color 400ms;
                

                &:hover {
                    background-color: $color-sixth;
                }

                &:hover .fas {
                    color: $color-primary;
                }

                & span {
                    @include circle;
                    padding: padding(1) + rem;
                }

                div {
                    margin: 0 5% 0 0;

                    & .fas {
                        transition: color 400ms;
                    }
                }

            }
        }
    }
}

.restaurants {
    background-color: map-get($map: $bg-color-section, $key: restaurants );
    @include padding;
    width: 100%;
    height: 1225px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 90%;
        width: 100%;

        &__cards {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 95%;
            width: 100%;

            &__link {
                width: 100%;
                height: 23%;
                display: flex;
                flex-direction: column;
                background-color: $color-seventh;
                border-radius: 20px;
                text-decoration: none;
                color: #000000;
                @include box-shadow;

                &__pic-container {
                    display: flex;
                    height: 70%;
                    width: 100%;

                    & img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: 20px 20px 0 0;
                    }

                }

                &__container-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @include padding;
                    height: 30%;
                    .fa-heart{
                        font-size: 1.5rem;
                    }

                }
            }

        }
    }
}