//utils
    //variables
    $color-primary:#9356DC;
    $color-secondary:#FF79DA;
    $color-tertiary:#99E2D0;
    $color-quaternary: #d5d5d5;
    $color-fifth:#f6f6f6;
    $color-sixth: #f5edff;
    $color-seventh: #ffffff;
    $size: .55em;

    //functions
    @function padding($nb){
        $padding: $nb * 0.25;
        @return $padding;
    }
    //mixins
    @mixin light-color ($color: $color-quaternary) {
        background-color: lighten($color, 10%);
    }
    @mixin box-shadow($color:lighten($color-quaternary, 10%), $size:$size) {
        box-shadow: $size $size $size $color;
    }
    @mixin padding {
        padding-left: 4%;
        padding-right: 4%;
        
    }
    @mixin circle {
        border-radius: 100%;
        background-color: $color-primary;
        width: 7.25%;
        height: 25px;
        margin-left: -3.625%;
        margin-right: 5%;
        text-align: center;
        color:$color-seventh;
    }
    @mixin list-style {
        list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
    }

//base
h1, h2, h3, p, li{
    //font-family: 'Shrikhand', cursive;
    font-family: 'Roboto', sans-serif; 
}
h1{
    font-weight: bold;
}
*{
    box-sizing: border-box;
}
body{
    width: auto;
    margin: 0;
    background-color: #ffffff;
}
#main-wrapper{
    width: 100%;
    margin: auto;
}
//components

//layout
    //header
.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    border-bottom: 2px inset $color-quaternary ;
    &__logo{
        display: flex;
        width: 42.5%;
        max-height: 45%;
    }

}
.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-fifth;
    min-height: 335px;
    &__form{
        display: flex;
        justify-content: center;
        width: 100%;
        &__container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
             @include light-color;
            height: 50px;
            &__logo{
                margin-right: 15px;
            }    
            .search__form__container__input{
                border: none;
                width: 33%;
                height: 40%;
                @include light-color;
                }
            .search__form__container__submit--hidden{
                display: none;
            }
        }
    }
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 60%;
        h1, p{
            text-align: center;
        }
        &__btn{
            border-radius: 50px/50px;
            background-color: #9356DC;
            font-size: 0.80em;
            font-family: 'Roboto', sans-serif;
            color:$color-seventh;
            width: 57.3%;
            height:50px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: padding(1) + rem;
            margin-top: 7%;
            cursor: pointer;
            @include box-shadow($color-quaternary);
           
        }
    }
}
    //footer

//pages
.operation{
    display: flex;
    @include padding;
    &__container{
        display: flex;
        flex-direction: column;
        width: 100%;
        ul{
            @include list-style;
            padding: 0 0 0 3.625%;
            height: 265px;
            li{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 28%;
                width: 100%;
                background-color: $color-fifth;
                border-radius: 25px;
                cursor: default;
                transition: background-color 400ms;
                @include box-shadow;
                &:hover{
                  background-color: $color-sixth;
                }
                &:hover .fas{
                    color: $color-primary;
                }
                & span{
                    @include circle;
                    padding: padding(1) + rem;
                }
            div{
                margin: 0 5% 0 0;
                & .fas{
                    transition: color 400ms;
                }
            }

            }
        }
    }
}