h1,
h2,
h3, li, p, span {
  font-family: 'Roboto', sans-serif;
}

p,
li {
  font-size: 16px;
}

h1 {
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: auto;
  margin: 0;
  background-color: #ffffff;
  position: relative;
}

#main-wrapper {
  width: 100%;
  margin: auto;
}

.search__container__btn {
  position: relative;
  max-width: 226px;
  z-index: 1;
  border-radius: 50px/50px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
          box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
  font-size: 1rem;
}

.search__container__btn::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  content: "";
  background: -webkit-gradient(linear, left top, right bottom, from(#fface8), to(#ae80e5));
  background: linear-gradient(to bottom right, #fface8, #ae80e5);
  -webkit-box-shadow: 0.27em 0.55em 0.55em #afafaf;
          box-shadow: 0.27em 0.55em 0.55em #afafaf;
  border-radius: 50px/50px;
  opacity: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.search__container__btn:hover::after {
  opacity: 1;
}

.submit--hidden {
  display: none;
}

.submit--hidden + label::before {
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-weight: 200;
  font-size: 1.5em;
}

.submit--hidden:checked + label::before {
  font-family: "Font Awesome 5 free";
  content: "\f004";
  font-weight: 900;
  color: transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-delay: 10ms;
          transition-delay: 10ms;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 100%;
  border-bottom: 2px inset #d5d5d5;
}

@media screen and (min-width: 801px) {
  .main-header {
    height: 120px;
  }
}

.main-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 42.5%;
  max-height: 45%;
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .main-header__logo {
    width: 42%;
    max-width: 44%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media screen and (min-width: 801px) {
  .main-header__logo {
    width: 30%;
    max-width: 32%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.main-header_arrow {
  position: absolute;
  left: 5.33%;
  font-size: 1rem;
  color: #353535;
  font-size: 1rem;
}

.main-footer {
  padding-left: 4%;
  padding-right: 4%;
  background-color: #353535;
  height: 200px;
}

.main-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 95%;
}

.main-footer__container__title {
  color: #ffffff;
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
}

.main-footer__container__list {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50%;
  width: 100%;
}

.main-footer__container__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main-footer__container__list__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
}

.main-footer__container__list__item a .main-footer__container__list__item__logo-container {
  margin-right: 15px;
  width: 15px;
}

.main-footer__container__list__item a .main-footer__container__list__item__logo-container .fa-hands-helping {
  font-size: 0.75rem;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box-picture {
  width: 100%;
  height: 250px;
}

@media screen and (min-width: 801px) {
  .box-picture {
    height: 400px;
  }
}

.box-picture .pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 1160px;
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
  background-color: #f6f6f6;
  margin-top: -30px;
  position: relative;
  border-radius: 30px 30px 0 0;
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .main-section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 801px) {
  .main-section {
    height: auto;
  }
}

.main-section h1 {
  margin-top: 40px;
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .main-section h1 {
    margin-right: auto;
  }
}

.main-section .like {
  position: absolute;
  top: 3.44%;
  right: 3.44%;
}

.form-menu {
  height: 87%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .form-menu {
    width: 75%;
  }
}

.form-menu__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 801px) {
  .form-menu__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.starter,
.main-course,
.dessert {
  height: 28%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.starter h3,
.main-course h3,
.dessert h3 {
  font-weight: normal;
  margin-bottom: 0;
}

@media screen and (min-width: 801px) {
  .starter,
  .main-course {
    width: 45%;
    height: 32.5%;
  }
}

.main-section-note-enchantee {
  height: 1275px;
}

@media screen and (min-width: 801px) {
  .main-section-note-enchantee {
    height: auto;
  }
}

.starter-note-enchantee {
  height: 32.5%;
}

.menu-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 87%;
  width: 100%;
  margin: 0;
  font-weight: bold;
  padding: 0;
}

.menu-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 25px;
  cursor: default;
  -webkit-box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
          box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
  padding-left: 12px;
  background-color: #ffffff;
  position: relative;
  overflow-x: hidden;
  margin-bottom: 13px;
}

.menu-list .menu-list__check-box--hidden {
  display: none;
}

.menu-list__dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 86%;
  margin-right: 10px;
  white-space: nowrap;
  overflow: visible;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.menu-list__dish h2,
.menu-list__dish p {
  margin: 0 0 .3em 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-list__dish h2 {
  font-size: 1em;
}

.menu-list__dish p {
  font-weight: lighter;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0.85);
          transform: scaleX(0.85);
}

.underline {
  display: inline;
  width: 40px;
  height: 1px;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  margin-bottom: 15px;
  margin-top: 8px;
}

.menu-list__check-box--hidden + label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  right: 10px;
}

.menu-list__animation::after {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 1.5em;
  color: #ffffff;
  background-color: #99E2D0;
}

.menu-list__animation {
  width: 15%;
  height: 100%;
  text-align: center;
  background-color: #99E2D0;
  border-radius: 0 25px 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.submit-choice-hidden {
  display: none;
}

.submit-choice-label {
  max-width: 226px;
  z-index: 1;
  border-radius: 50px/50px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
          box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
  font-size: 1rem;
  width: 186px;
  border: none;
  position: relative;
}

@media screen and (min-width: 801px) {
  .submit-choice-label {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.submit-choice-label::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right bottom, from(#fface8), to(#ae80e5));
  background: linear-gradient(to bottom right, #fface8, #ae80e5);
  -webkit-box-shadow: 0.27em 0.55em 0.55em #afafaf;
          box-shadow: 0.27em 0.55em 0.55em #afafaf;
  border-radius: 50px/50px;
  opacity: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.submit-choice-label:hover::after {
  opacity: 1;
}

.menu-list li .menu-list__check-box--hidden:checked + label + .menu-list__dish + .price + .menu-list__animation {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu-list li .menu-list__check-box--hidden:checked + label + .menu-list__dish + .price + .menu-list__animation::after {
  -webkit-animation: turn 1000ms alternate both;
          animation: turn 1000ms alternate both;
}

.menu-list li .menu-list__check-box--hidden:checked + label + .menu-list__dish {
  width: 70%;
}

.menu-list li .menu-list__check-box--hidden:checked + label + .menu-list__dish + .price {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}

@-webkit-keyframes turn {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes turn {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.menu-list-starter {
  -webkit-animation: fadein 2000ms ease-in-out 1 both;
          animation: fadein 2000ms ease-in-out 1 both;
}

.menu-list-main-course {
  -webkit-animation: fadein 2000ms 250ms ease-in-out 1 both;
          animation: fadein 2000ms 250ms ease-in-out 1 both;
}

.menu-list-dessert {
  -webkit-animation: fadein 2000ms 500ms ease-in-out 1 both;
          animation: fadein 2000ms 500ms ease-in-out 1 both;
}

@-webkit-keyframes fadein {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=menu.css.map */