//header
.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 100%;
    border-bottom: 2px inset $color-quaternary;

    @include desktop-only {
        height: 120px;
    }

    &__logo {
        display: flex;
        width: 42.5%;
        max-height: 45%;

        @include tablette-only {
            width: 42%;
            max-width: 44%;
            object-fit: contain;
        }

        @include desktop-only {
            width: 30%;
            max-width: 32%;
            object-fit: contain;

        }
    }

}

.main-header_arrow {
    position: absolute;
    left: 5.33%;
    font-size: 1rem;
    color: $color-heighth;
    font-size: 1rem;
}