//components
.search__container__btn {
    position: relative;
    @include btn;
    &::after{
        @include  pseudoelmt-position;
        content: "";
        @include btn-hover;
        opacity: 0;
        transition: 400ms;
    }
    &:hover {
        &::after{
            opacity: 1;
        }
    }


}

.submit--hidden {
    display: none;
}