main {
    position: relative;
    display: flex;
    flex-direction: column;
}

.box-picture {
    width: 100%;
    height: 250px;

    @include desktop-only {
        height: 400px;
    }

    & .pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 1160px;
    width: 100%;
    @include padding;
    background-color: map-get($bg-color-section, restaurants);
    margin-top: -30px;
    position: relative;
    border-radius: 30px 30px 0 0;

    @include tablette-only {
        align-items: center;
    }

    @include desktop-only {
        height: auto;
    }



    h1 {
        margin-top: 40px;
        font-family: 'Shrikhand', cursive;
        font-weight: normal;

        @include tablette-only {
            margin-right: auto;
        }
    }

    & .like {
        position: absolute;
        top: 3.44%;
        right: 3.44%;
    }
}

.form-menu {
    height: 87%;
    width: 100%;
    display: flex;

    @include tablette-only {
        width: 75%;
    }


    &__container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include desktop-only {
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;

        }
    }
}

.starter,
.main-course,
.dessert {
    height: 28%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;



    h3 {
        font-weight:normal;
        margin-bottom: 0
    }
}

.starter,
.main-course {
    @include desktop-only {
        width: 45%;
        height: 32.5%;
    }
}

//La note enchantée
.main-section-note-enchantee {
    height: 1275px;

    @include desktop-only {
        height: auto;
    }
}

.starter-note-enchantee {
    height: 32.5%;

}

/////////////////////

.menu-list {
    @include list-style(87%, center);
    padding: 0;


    li {
        @include li-list-style(space-between, center, 60px);
        padding-left: 12px;
        background-color: $color-seventh;
        position: relative;
        overflow-x: hidden;
        margin-bottom: 13px;
    }

    .menu-list__check-box--hidden {
        display: none;
    }

    &__dish {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 86%;
        margin-right: 10px;
        white-space: nowrap;
        overflow: visible;
        transition: width 1s;



        h2,
        p {
            margin: 0 0 .3em 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        h2 {
            font-size: 1em;

        }

        p {
            font-weight: lighter;
            transform-origin: left;
            transform: scaleX(0.85);
        }

    }

}

.underline {
    display: inline;
    width: 40px;
    height: 1px;
    border: 1px solid $color-tertiary;
    background-color: $color-tertiary;
    margin-bottom: 15px;
    margin-top: 8px;

}

.menu-list__check-box--hidden+label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;

}

.price {
    align-self: flex-end;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    transition: all 1s;
    position: absolute;
    right: 10px;
    p{
        font-weight: bold;
    }
}



.menu-list__animation::after {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-size: 1.5em;
    color: $color-seventh;
    background-color: $color-tertiary;

}

.menu-list__animation {
    width: 15%;
    height: 100%;
    text-align: center;
    background-color: $color-tertiary;
    border-radius: 0 25px 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    transform: translateX(150%);
    transition: all 1s;

}

// pseudo élément pour un input type submit impossible --> label 
.submit-choice-hidden {
    display: none;
}

.submit-choice-label {
    @include btn;
    width: 186px;
    border: none;
    position: relative;

    @include desktop-only {
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
        margin-top: 20px;
    }

    &::after {
        content: "";
        @include pseudoelmt-position;
        @include btn-hover;
        opacity: 0;
        transition: 400ms;

    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }
}



// Animations à la selection 

.menu-list li .menu-list__check-box--hidden:checked+label+.menu-list__dish+.price+.menu-list__animation {
    transform: translateX(0%);
}

.menu-list li .menu-list__check-box--hidden:checked+label+.menu-list__dish+.price+.menu-list__animation::after {
    animation: turn 1000ms alternate both;
}

.menu-list li .menu-list__check-box--hidden:checked+label+.menu-list__dish {
    width: 70%;

}

.menu-list li .menu-list__check-box--hidden:checked+label+.menu-list__dish+.price {
    transform: translateX(-150%);
}

//rotation icone fontawesome
@keyframes turn {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}

//Animation apparition prograssive par groupe/entées-plats-desserts

.menu-list-starter {
    animation: fadein 2000ms ease-in-out 1 both;
}

.menu-list-main-course {
    animation: fadein 2000ms 250ms ease-in-out 1 both;
}

.menu-list-dessert {
    animation: fadein 2000ms 500ms ease-in-out 1 both;
}

@keyframes fadein {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    75% {
        opacity: 0.2;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}